<!DOCTYPE html>
<html>
  <head>
    <title>File Metadata Service</title>
    <meta name="description" content="A cool thing made with Glitch">
    <link id="favicon" rel="icon" href="https://glitch.com/edit/favicon-app.ico" type="image/x-icon">
    <style>
      body{
        font-family:Harrington;
        font-size:18px;
      }
    </style>
  </head>
  <body>
    <center>
      <h1>
        File Metadata Microservice
      </h1>
      <hr width="90%"/>
      Wanna know a File's size? Just upload it!!<br><br>
      <form action="https://file-metadata-servie.glitch.me/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="ifile" />
        <input type="Submit" value="Upload" />
    </form> 
    </center>
  </body>
</html>
